assignment1/assignment1.aux
assignment1/assignment1.fdb_latexmk
assignment1/assignment1.fls
assignment1/assignment1.log
assignment1/assignment1.out
assignment1/assignment1.synctex.gz
assignment1/assignment1.toc
assignment1/*.pdf
